// Colors
$dark-pink-color: #F69588;
$pink-color: #EBC9BB;
$light-pink-color: #F7E5E3;
$dark-blue-color: #043B71;
$light-blue-color: #C6D3DC;
$light-tan-color: #FFECD3;
$tan-color: #D8C9B4;
$default-text-color: #000000;

// Fonts
$heading-font: 'Muthiara';
$body-font: 'MondayFeelings';
